* {
    box-sizing: border-box;
    margin: 0;
     cursor: default;
}
body {
  background-color: #fafafa;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.6s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.content-section {
    display: flex;
    flex-direction: column;
}
@media (min-width: 800px) {
  .content-section {
   /* border: 3px solid red;*/
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 900px) {
  .content-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

/*PRIMERA Parte*/
.section {
    width: 360px;
    height: 700px;
    padding: 10px;
   /*border: 1px solid red;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
}
@media (min-width: 900px) {
  .section{
    height: 800px;
    display: flex;
    justify-content:space-around
    }
} 
        /*CARD Perfil*/
.card {
  width: 300px;
  height: auto;
  margin: 0 auto;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  /*border: 1px solid red;*/
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card:hover {
  transform: translateY(-6px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card__content {
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  transition: none;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.card__title {
  margin: 0 auto 10px; /**/
  font-size: 30px;
  color: #000000;
  font-weight: bold;
}

.card__description {
  padding: 10px;
  border-radius: 2em;
  margin: 10px auto 0;
  font-size: 18px;
  color: #000000;
  line-height: 1.4;
}

.card__img{
    width: 100%;
    height: 350px;
    background-image: url('./img_portfafolio.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}
/*ICONOS PRIMERA Parte*/
.iconos{
    margin-top: 30px;
    margin: 20px;
    padding: 10px;
    width: 300px;
    height: 70px;
    text-align: center;
}
.iconos a {
  color: rgb(0, 0, 0);
}

@media (min-width:900px){
  .iconos {
    background-color: rgb(0, 0, 0);
    border: 1px solid;
    border-radius: 40px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .iconos a {
    color: rgb(255, 255, 255);
  }
}

.iconos i {
    font-size: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.fa-github:hover {
    cursor: pointer;
    transform: translateY(-6px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.fa-linkedin:hover{
    cursor: pointer;
    color: #0072b1;
    transform: translateY(-6px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.fa-instagram:hover {
    cursor: pointer;
    color: #ff3030;
    transform: translateY(-6px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


/*SEGUNDA Parte*/
.section-dos {
    width: 360px;
    height: 800px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  /*border: 1px solid red; */ 
}
.section-dos h1 {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  text-align: center;
  color: #111;
}
@media (min-width: 900px) {
  .section-dos {
   width: 550px;
  }
  .section-dos h1 {
     font-size: 50px;
     text-align: left;
  }
}
/*CARD App Poke*/ 
.card_dos {
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  padding: 36px;
  border-radius: 24px;
  overflow: hidden;
  line-height: 1.6;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  font-family: "Roboto", sans-serif;
}
@media (min-width: 900px) {
  .card_dos {
    width: 500px;
    background-color: rgb(255, 229, 229);
  }
}

.content_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  color: #111;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}
.content_card .content_p {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  z-index: 1;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}
.content_card .content_texto {
  z-index: 1;
  opacity: 0.8;
  font-size: 18px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}
.card_dos::before {
  content: "";
  position: absolute;
  right: -5.2rem;
  top: -5.2rem;
  width: 10.4rem;
  height: 10.4rem;
  background: #ff0a0a;
  z-index: 0;
  opacity: 0;
  border-radius: 50%;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}
.card_dos::after {
  content: "";
  position: absolute;
  left: -5.2rem;
  bottom: -5.2rem;
  width: 10.4rem;
  height: 10.4rem;
  background-color: #b80000;
  z-index: 0;
  opacity: 0;
  border-radius: 50%;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.card_dos:hover::before {
  scale: 7;
  opacity: 1;
}
.card_dos:hover::after {
  scale: 7;
  opacity: 1;
}
.card_dos:hover .content_card .content_p {
  color: #ffffff;
}
.card_dos:hover .content_card .content_texto {
  color: #ffffff;
}
.card_dos:hover {
  box-shadow: 0rem 6px 13px rgba(0, 0, 0, 0.1),
    0rem 24px 24px rgba(0, 0, 0, 0.09), 0rem 55px 33px rgba(0, 0, 0, 0.05),
    0rem 97px 39px rgba(0, 0, 0, 0.01), 0rem 152px 43px rgba(0, 0, 0, 0);
  border-color: transparent;
  scale: 1.05;
}

/*CARD App Palabra*/
.card_tres{
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  padding: 36px;
  border-radius: 24px;
  overflow: hidden;
  line-height: 1.6;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  font-family: "Roboto", sans-serif;
}
@media (min-width: 900px) {
  .card_tres {
    width: 500px;
    background-color: #ffd8fd;
  }
}
.content_card_dos{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  color: #111;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}
.content_card_dos .content_p{
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  z-index: 1;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}
.content_card_dos .content_texto {
  z-index: 1;
  opacity: 0.8;
  font-size: 18px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}
.card_tres::before {
  content: "";
  position: absolute;
  right: -5.2rem;
  top: -5.2rem;
  width: 10.4rem;
  height: 10.4rem;
  background: #532851;
  z-index: 0;
  opacity: 0;
  border-radius: 50%;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}
.card_tres::after {
  content: "";
  position: absolute;
  left: -5.2rem;
  bottom: -5.2rem;
  width: 10.4rem;
  height: 10.4rem;
  background: #532851;
  z-index: 0;
  opacity: 0;
  border-radius: 50%;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}
.card_tres:hover::before {
  scale: 7;
  opacity: 1;
}
.card_tres:hover::after {
  scale: 7;
  opacity: 1;
}
.card_tres:hover .content_card_dos .content_p{
  color: #ffffff;
}
.card_tres:hover .content_card_dos .content_texto {
  color: #ffffff;
}
.card_tres:hover {
  box-shadow: 0rem 6px 13px rgba(0, 0, 0, 0.1),
    0rem 24px 24px rgba(0, 0, 0, 0.09), 0rem 55px 33px rgba(0, 0, 0, 0.05),
    0rem 97px 39px rgba(0, 0, 0, 0.01), 0rem 152px 43px rgba(0, 0, 0, 0);
  border-color: #0a3cff;
  scale: 1.05;
}

a{
  color: black;
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  color: #ffffff;
}
/*ICONOS Tech*/
.iconos_dos h1 {
  margin-bottom: 50px;
}
.iconos_dos{
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px;
    width: 320px;
    height: 300px;
    text-align: center;
   /* background-color: red;*/
}
@media (min-width: 900px) {
  .iconos_dos{
    width: 500px;
    height: 200px;
  }
}
.iconos_dos i{
    font-size: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
}

.fa-html5:hover { 
    cursor: pointer;
    color: rgb(255, 145, 0);
    transform: translateY(-6px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.fa-file-code:hover{
    cursor: pointer;
    color: rgb(47, 67, 252);
    transform: translateY(-6px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.fa-node-js:hover{ 
    cursor: pointer;
    color: rgb(30, 88, 22);
    transform: translateY(-6px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.fa-css3-alt:hover {
    cursor: pointer;
    color: rgb(0, 101, 196);
    transform: translateY(-6px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.fa-js:hover {
    cursor: pointer;
    color: rgb(219, 223, 0);
    transform: translateY(-6px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.fa-git-alt:hover {
    cursor: pointer;
    color: rgb(212, 59, 59);
    transform: translateY(-6px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.fa-database:hover {
    cursor: pointer;
    color: rgb(196, 0, 59);
    transform: translateY(-6px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;  
}
.fa-github:hover {
    cursor: pointer;
    color: rgb(124, 57, 124);
    transform: translateY(-6px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.fa-figma:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
    transform: translateY(-6px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}